*{
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-color: #FAFAFA;
}

header {
    height: 18%;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 5px 70px;
}

a{
    text-decoration-line: none;
}

nav a{    
    display: flex;
    align-items: center;
    color: black;
    font-size: 8px;
}

img{
    width: 16px;
    height: 16px;
}

#applelogo{
    width: 30px;
}

.info{
    height: calc(100% - 16px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p {
    font-size: 8px;
}

.info span{
    color:blue;
}

.intro img{
    width: 20px;
    height: 20px;
}

main{
    height:80%;
}

.mian-view {
    height: 100%;
}

.intro{
    display: flex;
    justify-content: center;
    height: 50%;
}

.title{
    width: 65%;
}

.title h3{
    margin-top: 30px;
    font-size: 25px;
}

h3 span{
    color: #6E6E6E;
}

.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.help-1, .help-2 {
    display: flex;
    align-items: center;
}

.help div{
    margin-left: 5px;
}

.help p{
    margin: 3px 0px;
    font-weight: 900;
}

.product{
    display: flex;
    justify-content: space-around;
    height: 30%;
    margin: 0px 60px;
}

.product div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product img{
    width: 60px;
    height: 40px;
}

.product a{
    color: black;
    font-size: 10px;
}